<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper home-component">
      <img src="/assets/onefencebg.JPG" alt="One Fence">
      <div class="carousel-caption custom_carousel-caption">
        <h1>Coming Soon</h1>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper home-component">
      <img src="/assets/onefencebg2.JPG" alt="One Fence">
      <div class="carousel-caption custom_carousel-caption">
        <h1>Coming Soon</h1>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
 -->

<div class="container-fluid home-container" style="background-image: url(/assets/green_bg.JPG);">
  <div class="row">
    <div class="col-12 home-div">
      <p class="title">A PLACE FOR PEACE</p>
      <p class="title-green">COMING SOON</p>
      <img src="/assets/one_fence_home.jpg" alt="" class="img-fluid home_img">
    </div>
  </div>
</div>
